<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choices/{{que.id}}</title>
</head>
<body>
    <form action="" method="post">
        <fieldset>
        <legend><h2>{{question.que_text}}</h2>
        </legend>
        
        {%for choice in question.choice_set.all%}
        <input type="radio" name="choice" id="choice">
        <label for="">{{choice.choice_text}}<br></label>
        {%endfor%}
    </fieldset>
     </body>
    </form>
    
</html>