{% comment %} {% extends "master.html"%}

{%block title%} 
    Home page
{%endblock%}

{%block content%}
    <h1>home page</h1>
{%endblock%} {% endcomment %}
{% comment %} <!DOCTYPE html> {% endcomment %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <title>Form</title>
        <body>
            <form action = "" method = "post">
                {% csrf_token %}
                {{form }}
                <input type="submit" value=Submit">
            </form>
        </body>
    </head>
</html>