<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>
<body>
    <h2>This page displays que from the database</h2>
    <!-- //import and display questions from the database -->
    <ul>
        {% for que in que_text %}
        <style>
            a {
              text-decoration: none;
            }
          </style>
          
          <ul>
            <li><a href="{%url 'choice' question.id%}">{{que.que_text}} {{que.pub_date}}</a></li><br>
          </ul> 
          
        {% endfor %}
    </ul>

</body>
</html>